.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  max-width: 1400px;
  margin: 10px auto;
}


.formsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signinSignup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.signUpForm {
  opacity: 0;
  z-index: 1;
}

.signInForm {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.inputField {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.icon {
  text-align: center;
  position: relative;
  top: 33%;
  /* margin-top: 5px; */
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.inputField input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.inputField input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.socialText {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.socialMedia {
  display: flex;
  justify-content: center;
}

.socialIcon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.socialIcon:hover {
  color: #F86F03;
  border-color: #F86F03;
}

/* .btn {
  width: 150px;
  background-color: #F86F03;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #f98c39;
} */


.btn {
  overflow: hidden;
  position: relative;
  z-index: 0;
  text-decoration: none;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1rem;
  min-width: 13ch;
  padding: 0.5rem 1.15rem;
  border-radius: 0.2rem;
  background: #386bd8;
  box-shadow:
    inset 0 0 0 0.1em #3883d8,
    0 0 0 rgba(113, 56, 226, 0);
  transition:
    opacity 0.3s cubic-bezier(0.2, 0, 0.1, 1),
    transform 0.3s cubic-bezier(0.2, 0, 0.1, 1),
    box-shadow 0.5s ease,
    color 0.5s ease,
    background 0.5s ease;
  will-change: box-shadow, color, transform, opacity, background;
}

.btn.outlined {
  display: inline-flex;
  background: none;
  color: #141b77; /* darken(#6138D8, 40%) */
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  pointer-events: none;
  top: 0;
  right: -50%;
  left: -50%;
  height: 0;
  padding-bottom: 200%;
  border-radius: 39%;
  opacity: 0;
  transition: transform 0s cubic-bezier(0.2, 0, 0.1, 1) 0.5s, opacity 0.5s cubic-bezier(0.2, 0, 0.1, 1);
}

.btn::before {
  transform: translate3d(-10%, 4.8em, 0) rotate(330deg);
  background: linear-gradient(
    25deg,
    #405de0,
    rgba(103, 64, 224, 0)
  );
}

.btn::after {
  transform: translate3d(10%, 4.8em, 0) rotate(0deg);
  background: linear-gradient(
    70deg,
    rgba(64, 120, 224, 0.5),
    rgba(96, 52, 214, 0)
  );
}

.btn:hover,
.btn:focus {
  background: #4080e0; /* adjust-hue(#6138D8, 20) */
  box-shadow:
    inset 0 0 0 0.1em #3870d8,
    0 0 1.75em rgba(64, 107, 224, 0.5);
  transition:
    opacity 0.3s cubic-bezier(0.2, 0, 0.1, 1),
    transform 0.3s cubic-bezier(0.2, 0, 0.1, 1),
    box-shadow 2s ease,
    color 1.5s ease,
    background 1s ease 0.75s;
}

.btn:hover.outlined,
.btn:focus.outlined {
  color: white;
}

.btn:hover::before,
.btn:focus::before,
.btn:hover::after,
.btn:focus::after {
  opacity: 1;
  transition: transform 2s ease 0s, opacity 0.2s ease;
}

.btn:hover::before,
.btn:focus::before {
  transform: translate3d(-10%, -1em, 0) rotate(100deg);
}

.btn:hover::after,
.btn:focus::after {
  transform: translate3d(10%, -1em, 0) rotate(180deg);
}


@media (max-width:768px) {
  .btn{
    font-size: 0.7rem;
  }
  
}

.panelsContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container::before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #013566 0%, #013566 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.leftPanel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.rightPanel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.rightPanel .image,
.rightPanel .content {
  transform: translateX(800px);
}

/* Animation */
.signUpMode::before {
  transform: translate(100%, -50%);
  right: 52%;
}

.signUpMode .leftPanel .image,
.signUpMode .leftPanel .content {
  transform: translateX(-800px);
}

.signUpMode .signinSignup {
  left: 25%;
}

.signUpMode .signUpForm {
  opacity: 1;
  z-index: 2;
}

.signUpMode .signInForm {
  opacity: 0;
  z-index: 1;
}

.signUpMode .rightPanel .image,
.signUpMode .rightPanel .content {
  transform: translateX(0%);
}

.signUpMode .leftPanel {
  pointer-events: none;
}

.signUpMode .rightPanel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signinSignup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signinSignup,
  .signUpMode .signinSignup {
    left: 50%;
  }

  .panelsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .rightPanel {
    grid-row: 3 / 4;
  }

  .leftPanel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container::before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .signUpMode::before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .signUpMode .leftPanel .image,
  .signUpMode .leftPanel .content {
    transform: translateY(-300px);
  }

  .signUpMode .rightPanel .image,
  .signUpMode .rightPanel .content {
    transform: translateY(0px);
  }

  .rightPanel .image,
  .rightPanel .content {
    transform: translateY(300px);
  }

  .signUpMode .signinSignup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container::before {
    bottom: 72%;
    left: 50%;
  }

  .signUpMode::before {
    bottom: 28%;
    left: 50%;
  }
}